<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <img src="/assets/img/ruchi.jpg" width="220" heigth="300" />
    <h2>
      <b><i>Name: Ruchi</i></b>
    </h2>
    <h5>
      2+ years of experience as a software tester and hands on experience in
      coding laguages like java, c, c++ and many more...<br /><br />
      College: -Centennial College <br /><br />Campus: -Progress Campus Course:
      Advanced diploma in Software Engineering Technology <br /><br />Student
      Number: - 300982665 <br /><br />Please find the resume attached below..
    </h5>
    <a
      class="btn btn-primary"
      href="https://drive.google.com/open?id=1_a-bTEBaPCXt8QYpK515NkWbLK2MidTx"
      role="button"
      >Resume</a
    >
  </div>
</div>
