<div class="container">
  <br />
  <div class="jumbotron">
    <div>
      <h3>Services :</h3>
    </div>
    <div class="row">
      <div class="col-8">
        <table>
          <tr>
            <th>Languages</th>
          </tr>
          <tr>
            <td>C, C#, Java, ASP.Net</td>
          </tr>
          <tr>
            <td>HTML, CSS, JavaScript</td>
          </tr>
          <tr>
            <td>My SQL, SQL</td>
          </tr>
          <tr>
            <td>Node Js, Express Js, Angular</td>
          </tr>
          <tr>
            <td>Selenium, JUnit, Splunk, Jira, QaComplete</td>
          </tr>

          <br />
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <table>
          <tr>
            <th class="display-bold">Services</th>
          </tr>
          <tr>
            <td>Manual Testing</td>
          </tr>
          <tr>
            <td>Automation Testing</td>
          </tr>
          <tr>
            <td>Android Development</td>
          </tr>
          <tr>
            <td>Website Development</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
